body{
	background-color: #222;
	color: #fff;
}

h1{
	margin:20px 80px;
}

img{ 	
	width:150px; 	
	height:150px;
	background-repeat: no-repeat; 	
	padding:1px; 	
	font-size:24px; 	
	text-align:center; 	
	margin:5px; 	
	background-size: cover;  
}

.button{ 	
	width:200px; 	
	height:50px;
	background-color:#f7c608;
	border-color:#ff7521;
	border-radius: 8px;
	color: #fff;
	background-repeat: no-repeat; 	
	padding:1px; 	
	font-size:30px; 	
	text-align:center; 	
	margin:50px 70px; 	
	background-size: cover;  
}

.display{
	width:310px; 	
	height:50px;
	background-color:#29ce73;
	border-color:#2982bd;
	border-radius: 8px;
	color: #fff;
	background-repeat: no-repeat; 	
	padding:1px; 	
	font-size:16px; 	
	text-align:center; 	
	margin:5px 5px; 	
	background-size: cover;  
}

.display1{
	width:210px; 	
	height:50px;
	background-color:#29ce73;
	border-color:#2982bd;
	border-radius: 8px;
	color: #fff;
	background-repeat: no-repeat; 	
	padding:1px; 	
	font-size:20px; 	
	text-align:center; 	
	margin:5px 60px; 	
	background-size: cover;  
}


